@font-face {
    font-family: NeonDisco;
    src: url(/assets/fonts/NeonDisco.ttf);
}

@font-face {
    font-family: "Neon Glow";
    src: url(/assets/fonts/Neon\ Glow.ttf);
}

@font-face {
    font-family: "Comfortaa";
    src: url(/assets/fonts/Comfortaa-VariableFont_wght.ttf);
}

* {
    outline: none;
    box-sizing: border-box;
}

html {

    font-family: "Comfortaa";
}

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    background-color: white;
    position: relative;
    float: left;
}

#enter {
    background-color: white;
    padding-top: 0.3rem;
}

#menu ul a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 0;
}

#menu ul ul li {
    float: none;
    width: 150px;
}

#menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#menu ul li:hover>ul {
    display: block;
}
#menu #a1:hover, #a2:hover, #a3:hover{
    max-width: 85%;
    width:100%;
    height: 2.8rem;
    background-color: aquamarine;
    border-radius: 15px
}
#menu {
    display: flex;
    justify-content: space-between;
}

#enter a {
    color: black;
    text-decoration: none;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 1.3rem;
}

#separation-gap {
    padding: 1.5rem;
}

#centeredTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3.3rem;
    padding-right: 4.8rem;
}

#titleH2 {
    padding-top: 4rem;
    font-size: 2rem;
}

h1 {
    font-family: NeonDisco;
    font-size: 5rem;
    margin: 0;
}

#b-header {
    background-color: black;
    color: yellow;
    padding-left: 1rem
}

#h2-style {
    font-family: Neon Glow;
    font-size: 2rem;
}

#a-container {
    font-size: 1.3rem;
}

#b-container p {
    margin-left: 2rem;
}

li b {
    text-decoration: underline 2px;
}

.wrapper {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 95%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-family: "Comfortaa";
    font-size: 1.1rem;
    font-weight: bolder;
}

.search-btn .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-btn {
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}